name: Auto Patch & Release APK



      - name: Install Android SDK & Build Tools
        if: ${{ env.SKIP == 'false' }}
        run: |
          wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip -O sdk-tools.zip
          unzip sdk-tools.zip
          mkdir -p $HOME/android-sdk/cmdline-tools
          mv cmdline-tools $HOME/android-sdk/cmdline-tools/latest
          export ANDROID_HOME=$HOME/android-sdk
          export PATH=$ANDROID_HOME/cmdline-tools/latest/bin:$ANDROID_HOME/platform-tools:$ANDROID_HOME/build-tools/34.0.0:$PATH
          echo "ANDROID_HOME=$ANDROID_HOME" >> $GITHUB_ENV
          echo "PATH=$PATH" >> $GITHUB_ENV
          yes | sdkmanager --install "platform-tools" "build-tools;34.0.0" "cmdline-tools;latest"


      - name: Set environment variables
        if: ${{ env.SKIP == 'false' }}
        run: |
          echo "ANDROID_HOME=$HOME/android-sdk" >> $GITHUB_ENV
          echo "ANDROID_SDK_ROOT=$HOME/android-sdk" >> $GITHUB_ENV
          echo "PATH=$ANDROID_HOME/cmdline-tools/latest/bin:$ANDROID_HOME/platform-tools:$ANDROID_HOME/build-tools/34.0.0:$PATH" >> $GITHUB_ENV


      - name: Install apktool
        if: ${{ env.SKIP == 'false' }}
        run: |
          wget https://raw.githubusercontent.com/iBotPeaches/Apktool/master/scripts/linux/apktool -O apktool
          chmod +x apktool
          sudo mv apktool /usr/local/bin/
          wget https://bitbucket.org/iBotPeaches/apktool/downloads/apktool_2.11.1.jar -O apktool.jar
          sudo mv apktool.jar /usr/local/bin/


      - name: Print tool versions
        if: ${{ env.SKIP == 'false' }}
        run: |
          echo "apktool version:"
          apktool -version
          echo "aapt2 version:"
          aapt2 version


      - name: Create downloads directory if not exists
        if: ${{ env.SKIP == 'false' }}
        run: mkdir -p downloads


      - name: Download APK file
        if: ${{ env.SKIP == 'false' }}
        run: |
          wget "https://github.com/monsivamon/twitter-apk/releases/download/${{ env.monsivamon_TAG }}/twitter-piko-v${{ env.monsivamon_TAG }}.apk" -O downloads/twitter-piko-v${{ env.monsivamon_TAG }}.apk


      - name: List files in downloads directory
        if: ${{ env.SKIP == 'false' }}
        run: ls -l downloads/


      - name: Run Patch APK script
        if: ${{ env.SKIP == 'false' }}
        run: python patch_apk.py


      - name: Run Release APK script
        if: ${{ env.SKIP == 'false' }}
        env:
          GITHUB_TOKEN: ${{ secrets.YuzuMikan404_TOKEN }}
        run: python release_apk.py
